<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>404 ERROR</title>
    </head>
    <body>
        <h1>ERREUR 404 L'ARTICLE N'EXISTE PAS</h1>
        <a href="articles.php">Retour à la liste des articles</a>
    </body>
</html>

